body {
    background-color: #FDFDFA;
}

body > p {
    font-family: Georgia,'Times New Roman',serif;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

div.left-media {
    display: inline-block;
    float: left;
    margin-left: 20%;
    margin-right: 10px;
}

div.media {
    text-align: center;
    width: 100%;
}

div.media img {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: Georgia,'Times New Roman',serif;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
