html, body
{
  height: 100%;
}

#content_box
{
	width: 100%;
	height: 25%;
	border: 2px solid #000;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 100;
}

#padding_box
{
  height: 25%;
}

.Map
{
	padding: 0;
	margin: 0;
}

.MapElement
{
	position: absolute;
}

.MapButton:hover
{
  cursor: pointer;
}

.MapButton
{
	height:26px;
	border: 1px solid #FFFFFF;
	border-radius:250px;
	-moz-border-radius:250px;
}

.MapButton:active
{
	-moz-box-shadow: 2px 2px 2px #888888;
	box-shadow: 2px 2px 2px #888888;
}

.content{
	display: none;
}
