html, body
{
  height: 100%;
}

#content_box
{
	width: 100%;
	height: 25%;
	border: 2px solid #000;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 100;
  overflow: auto;
}

#padding_box
{
  height: 25%;
}

.Map
{
	padding: 0;
	margin: 0;
}

/*
.Map:active
{
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-ms-transform: scale(1.5);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto
	expand', M11=2, M12=-0, M22=2);
}
*/

.MapElement
{
	position: absolute;
}

.MapDot:hover
{
  cursor: pointer;
}

.MapDot
{
	height:26px;
	border: 1px solid #FFFFFF;
	border-radius:250px;
	-moz-border-radius:250px;
}

.MapDot:active
{
	-moz-box-shadow: 2px 2px 2px #888888;
	box-shadow: 2px 2px 2px #888888;
}

.hidden_content
{
  display: none;
}

.overlay
{
  background-color: #000000;
  /*opacity: .5;*/
  filter: alpha(opacity=50);
  position: absolute;
  top: 50%;
  left: 50%;
  /*top: 50%;
  left: 50%;*/
  margin-left: -(X/2)u;
  margin-top: -(Y/2)u;
  /*width: 100%;
  height: 100%;*/
  z-index: 10;
}
