html, body
{
  height: 100%;
  font-family: Georgia, serif;
  font-size: 1em;
  line-height:2em;
}
#startup{
    position:fixed;
}
img{
    margin:0;
    padding:0;
    border-width:0;
}
div {
    margin:0;
    padding:0;
    border-width:0;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.hidden_content, .MapButton, .MapElement, .MapDot, .MapCam 
{
	display: none;
}

#button1
{
	display: block;
}
    
#content_box
{
	width: 100%;
	height: 50%;
    background:#ddd;
	z-index: 100;
    position:relative;
}
#content_holder{
    position:absolute;
    overflow:auto;
    height:90%;
    width:90%;
    background:#fff;
    left:5%;
    top:5%;
}
#content_text, #overlay{
    position:absolute;
}
#content_text{
    padding:2em;
}
#overlay{
    background:#fff;
    width:100%;
    height:100%;
    text-align:center;
}
/*
#padding_box
{
  height: 25%;
}
*/
.Map
{
	padding: 0;
	margin: 0;
}

/*
.Map:active
{
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-ms-transform: scale(1.5);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto
	expand', M11=2, M12=-0, M22=2);
}
*/

.MapElement
{
	position: absolute;
}

.MapDot, .MapCam
{
  cursor: pointer;
}

.overlay
{
  background-color: #000000;
  /*opacity: .5;
  filter: alpha(opacity=50);*/
  position: absolute;
  /*top: 50%;
  left: 50%;
  margin-left: -(X/2)u;
  margin-top: -(Y/2)u;*/
  /*width: 100%;
  height: 100%;*/
  z-index: 10;
}
